<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
   <!-- namespace에는 구현인터페이스 풀경로 -->
   <mapper namespace="com.simple.basic.mapper.TestMapper">
   
   		<!-- id는 추상메서드 명이 들어간다 -->
   		<!-- select태그의 resultType에는 결과를 반환 받아서 나올 타입 or 객체를 작성(소문자로) -->
   		<!-- 세미콜론은 작성하지 않는다 -->
   		<select id="getTime" resultType="string">
   			select now()
   		</select>
   		
   		<!-- 파라미터타입 - int, double, string -->
   		<!-- 매개변수가 단일값 이라면 인터페이스 이름을 따라갑니다. -->
   		<!-- parameterType="string" 파라미터 타입은 생략이 가능함-->
   		<insert id="insertOne" >
   			insert into score (name)
   			values (#{name})
   		</insert>
   		
   		<!-- vo가 매개변수인 경우에는 getter명을 따라갑니다. -->
   		<!-- 파라미터 타입 생략 가능 -->
   		<insert id="insertTwo">
   			insert into score (name, kor, eng)
   			values (#{name}, #{kor}, #{eng} )
   		</insert>
   		
   		<insert id="insertThree">
   			insert into score (name, kor, eng)
   			values (#{name}, #{kor}, #{eng} )
   		</insert>
   		
   		<insert id="insertFour">
   			insert into score (name, kor, eng)
   			values (#{name}, #{kor}, #{eng} )
   		</insert>
   		
   		<!-- 업데이트문 -->
   		<update id="updateOne">
   			update score set name = #{name}, kor = #{kor}, eng = #{eng}
   			where num = #{num}
   		</update>
   		
   		
   		<!-- 셀렉트문 resultType이 필수 -->
   		<!-- resultType="ScoreVO"는 alias에 등록 되어있다면 단축명을 사용할 수 있습니다. (mybatis-config.xml에 등록했음) -->
   		<select id="selectOne" resultType="ScoreVO">
   			select * from score where num = #{num}
   		</select>
   		
   		<!-- map으로 반환 가능. -->
   		<!-- 왠만하면 vo로 처리. 차선책으로 map 사용 -->
   		<select id="selectTwo" resultType="map">
   			select * from score where num = #{num}
   		</select>
   		
   		<select id="selectThree" resultType="map">
   			select * from score
   		</select>
   		
   		<!-- M:1조인 -->
   		<select id="joinOne" resultType="ScoreVO">
   			select * from score s 
   			left join member m
   			on s.name = m.id
   		</select>
   		
   		<!-- 1:M조인 -->
   		<!-- resultMap은 1:N조인 처리 -->
   		<select id="joinTwo" resultMap="xxx">
   			select * from member m
   			left join score s
   			on m.id = s.name where id = #{name};
   		</select>
   		<!-- type=ORM객체 id=명칭 -->
   		<resultMap type="com.simple.command.MemberVO" id="xxx">
   			<result column="id" property="id"/>
   			<result column="addr" property="addr"/>
   			<collection property="list" resultMap="yyy"/>
   		</resultMap>
   		<resultMap type="com.simple.command.ScoreVO" id="yyy">
   			<result column="num" property="num"/>
   			<result column="name" property="name"/>
   			<result column="kor" property="kor"/>
   			<result column="eng" property="eng"/>
   		</resultMap>
   		
   		
   		
   		
   		
   		
   		
   		
   		
   		
   		
   		
   </mapper>